*{
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0a192f;
  color: #D1E7DD;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease-in-out;
}

ul{
  list-style: none;
}

