.about-section{
    position:absolute;
    top: 90vh;
    left: 20rem;
    padding: 100px 0px;
}
.inner {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
    .styled-skills {
      display: grid;
      grid-template-columns: repeat(2, minmax(140px, 200px));
      gap: 10px;
      padding: 10px;
    li::before{
        content: "▹";
        left: 0px;
        color: #64ffda;
        line-height: 12px;
    }
    }
}

.styledPic {
  position: relative;
  max-width: 300px;
  border-radius: 2px;
  background: red;
}
img{
    max-width: 100%;
    height: auto;
}
.numbered-heading {
  &::before{
    position: relative;
    bottom :4px;
    counter-increment: section 1;
    content: "0"counter(section)".";
    margin-right: 10px;
  }
}